<div ng-controller="AddProjectController" class="manage-projects">
  <div class="title">
    <h2>Projects</h2>
  </div>

  <ul class="task-list">
    <li ng-repeat="project in projects track by project.id">
      <textarea ng-model="project.name" class="msd-elastic" ng-keypress="saveProject(project, $event)"></textarea>
      <button class="btn btn-danger" ng-click="deleteProject(project)" ladda="loading[project.id]" data-style="slide-right">Delete</button>
    </li>
    <li>
      <textarea ng-model="newProject.name" class="msd-elastic" ng-keypress="saveProject(newProject, $event)" placeholder="New Project"></textarea>
      <button class="btn btn-success" ng-click="saveProject(newProject)" ladda="loading['new']" data-style="slide-right">Add</button>
    </li>
  </ul>
  <div class="modal-footer">
    <button class="btn btn-danger pull-right" ng-click="closeThisDialog()">Close</button>
  </div>
</div>