<div ng-controller="TasksController" class="manage-tasks">
  <div class="pull-right">Type <kbd>?</kbd> for keyboard shortcuts</div>
  <div class="title tasks-title">
    <h2>{{ currentProject.name }}</h2>
    <h3>{{ currentDay.name }}, {{ currentDay.date }}</h3>
  </div>

  <ul class="task-list clearfix">
    <li ng-repeat="task in getTasks(currentDay, currentProject)">
      <textarea ng-model="task.desc" class="msd-elastic" ng-keypress="saveTask(currentDay, currentProject, task, $event)"></textarea>
      <button class="btn btn-danger" ng-click="deleteTask(currentProject, task)" ladda="loading[task.id]" data-style="slide-right">Delete</button>
    </li>
    <li>
      <textarea ng-model="newTask.desc" class="msd-elastic" ng-keypress="saveTask(currentDay, currentProject, newTask, $event)" placeholder="New Task"></textarea>
      <button class="btn btn-success" ng-click="saveTask(currentDay, currentProject, newTask)" ladda="loading['new']" data-style="slide-right">Add</button>
    </li>
  </ul>
  <div class="modal-footer">
    <button class="btn btn-danger pull-right" ng-click="closeThisDialog()">Close</button>
  </div>
</div>