@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@color-primary: #DE6E50;
@color-secondary: #A6CFE6;

* {
  font-family: 'Roboto' !important;
  font-weight: 300 ;
}

body {
  background: #F5F5F5;
}

.t-a-c {
  text-align: center;
}

.t-a-r {
  text-align: right;
}

.m-t-lg {
  margin-top: 50px;
}

.date {
  color: @color-primary;
  font-size: 16px;

  > button {
    margin: 0 15px;
  }
}

#main-nav {
  text-align: center;
  
  .main {
    display: inline-block;
    background: @color-primary;
    padding: 10px 30px;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 24px;
    border-radius: 0 0 3px 3px;
  }

  .line {
    display: block;
    height: 10px;
    background: @color-primary;
  }
}

.info {
  color: @color-secondary;
  font-size: 22px;

  > img {
    margin-right: 10px;
    border-radius: 100%;
  }
}

.days {
  display: flex;

  .day-container {
    flex: 1;
    
    &:last-child {
      margin-right: 0;
    }
  }

  .day {
    min-height: 500px;
    border-right: 1px solid #e9e9e9;
    padding: 0 10px;

    &:first-child {
      border-left: 1px solid #e9e9e9;
    }

    > .name {
      font-size: 22px;
      color: @color-primary;
      font-weight: 400;
      padding: 10px 0 10px 10px;

      > small {
        font-size: 14px;
        padding-top: 9px;
        color: #c9c9c9;
      }
    }
  }
}

.btn-login {
  background: @color-primary;
  border-radius: 0;
  padding: 20px 40px;
  color: #FFFFFF;
  font-size: 24px;
  color: #FFFFFF;

  &:hover,
  &:active {
    background: darken(@color-primary, 15%);
  }
}

.btn {

  &.btn-warning {
    background: @color-primary;
  }
}

.project {
  margin: 5px;
  margin-bottom: 15px;
  box-shadow: 0 1px 3px 0px fade(#000000, 10%);
  cursor: pointer;
  background: #FFFFFF;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 3px;

  &.no-tasks {
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }

  &:hover {
    box-shadow: 0 2px 5px 0px fade(#000000, 15%);
  }

  .name {
    padding: 10px 10px 5px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px;
    color: @color-primary;
  }

  .info {
    padding: 5px 10px;
    border-top: 1px solid #F5F5F5;
    font-size: 16px;
  }
}

.task-list {
  list-style: none;
  padding: 0;

  > li {
    display: flex;
    margin-bottom: 15px;

    textarea {
      flex: 8;
    }

    button {
      flex: 1;
      border-radius: 0 3px 3px 0;
    }
  }
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 3px;
  border: 0;
  background: #FFFFFF;
  width: 600px;
}

textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #F5F5F5;
  min-height: 34px;
  height: 34px;

  &:active,
  &:hover {
    background: #F9F9F9;
  }

  &:focus {
    border-bottom: 1px solid @color-primary;
  }
}

.tasks-title {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9e9;
  font-size: 18px;
  color: @color-primary;
}

.manage-projects,
.manage-tasks {
  background: #FFFFFF;

  .title {
    font-size: 22px;
    color: @color-primary;
    border-bottom: 1px solid #F5F5F5;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-right: -15px;

    h2, h3 {
      padding-left: 15px;
    }

    h3 {
      margin-top: 0;
      color: #c9c9c9;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .modal-footer {
    background: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin: -15px;
    margin-top: 0;
  }
}

.fa {
  font-family: FontAwesome !important;
}

.day-title-container {
  padding: 0 20px; 
  background: @color-primary;
  display: inline-block;
  color: #FFFFFF;
  border-radius: 3px 3px 0 0;

  small {
    color: lighten(@color-primary, 20%);
  }
}

.day.print {
  table {
    background: #FFFFFF;
    table-layout:fixed;

    th {
      border-bottom-width: 1px;

      &:nth-child(1) {
        width: 275px;
      }
    }

    .tasks-container {
      padding: 0;
    }

    .tasks {
      display: block;
      padding: 0;
      list-style: dash;
      margin: 0;

      li {
        display: block;
        border-bottom: 1px solid #DDDDDD;
        padding: 5px 10px;

        &:before {
          content: '-';
          margin-right: 5px;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

.container.print-tasks {
  margin-bottom: 50px;
}

body *{
  -webkit-print-color-adjust:exact !important;
}

@media print {
  body {
    background: #FFFFFF;
  }
}